$text-color-accent: #2c2f3c;
$accent-color: #699900;
$text-color: #c0c3ce;
$grad-colors: (
  'from': $accent-color,
  'to': #2e5ade
);
$selection-color: #14a0c7;
$bg-color: white;
$card-bg-color: #21232e;
$bg-image: url(../img/m-h-day.jpg);
$font-main: 'Hind', sans-serif;
$font-headers: 'Source Sans Pro', sans-serif;
