$text-color-accent: white;
$accent-color: #e3ac00;
$text-color: #d1d1d1;
$grad-colors: (
  'from': $accent-color,
  'to': #912a53
);
$selection-color: #ff4e33;
$bg-color: #21232e;
$card-bg-color: #353f50;
$bg-image: url(../img/m-h-night.jpg);
$font-main: 'Fresca', sans-serif;
$font-headers: 'Source Sans Pro', sans-serif;
